@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none !important;
}

html, body {
    font-family: "Roboto Mono", monospace !important;
    background-color: #0f0f0f !important;
    
}

/* Preloader Styles*/




/* Staggered animation for mobile menu items */
    .menu-item {
      opacity: 0;
      transform: translateY(1rem);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    .menu-open .menu-item {
      opacity: 1;
      transform: translateY(0);
    }
    .menu-open .menu-item:nth-child(1) {
      transition-delay: 0.1s;
    }

    .menu-open .menu-item:nth-child(2) {
      transition-delay: 0.2s;
    }

    .menu-open .menu-item:nth-child(3) {
      transition-delay: 0.3s;
    }

    .menu-open .menu-item:nth-child(4) {
      transition-delay: 0.4s;
    }

    #hero p {
      color: #808080 !important;
      
    }

    #nav p, a {
      color: #808080 !important;
    }

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#whitespace {
  background-color: #fff !important;
  width: 100%;
  height: 50vh;
}

#nav a.active {
  font-weight: bold !important;
  color: orangered !important;
  /* or any other styling to highlight */
}

.logo {
  visibility: hidden !important;
}

#here {
  color: orangered !important;
}

.tag {
  background-color: #4f4d4d;
  border-radius: 30px;
  padding: .39rem;
  border: 1px solid #808080;
}
